@use "functions" as media;

.cards__list {
  margin-bottom: 32px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 8px;
  position: relative;

  @include media.breakpoint(desktop) {
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 20px 68px 20px;
    gap: 5px;
  }

  &:before {
    content: '';
    background: var(--color8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 26px;

    @include media.breakpoint(desktop) {
      top: 10%;
    }
  }

  @include media.breakpoint(desktop) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.card__item {
  padding: 10% 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  @include media.breakpoint(desktop) {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto minmax(150px, max-content);
  }

  .icon__check {
    color: var(--color9);
  }

}

.card__currency {
  font-family: var(--main-font);
  font-size: 36px;
  font-weight: 700;
  //line-height: 46px;
  color: var(--color1);
  line-height: 1;
}

.card__period {
  font-family: var(--main-font);
  font-size: 17px;
  font-weight: 500;
 // line-height: 46px;
  color: var(--color5);
  line-height: 1.7;
}

.card__price {
  font-family: var(--main-font);
  font-size: 36px;
  font-weight: 700;
  //line-height: 46px;
  color: var(--color1);
  margin-right: 4px;
  line-height: 1;
}

.card__title {
  font-family: var(--main-font);
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  color: var(--color1);
}

.card__content {
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  color: var(--color5);
}

.advantages__item {
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  color: var(--color5);
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

}

.card__advantages{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.price__wrap {
  display: flex;
  align-items: flex-end;
}



.icon__check__wrap {
  background: #5243C226;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon__check {
    width: 11.47px;
    height: 9.43px;
  }
}

.item__premium {
  background: var(--color1);
  border-radius: 26px;
  position: relative;

  &:before {
    content: 'MOST POPULAR';
    background: #000;
    font-family: var(--main-font);
    font-size: 10px;
    font-weight: 800;
    line-height: 15px;
    letter-spacing: 0.8px;
    text-align: center;
    color: var(--color2);
    padding: 7px 17px;
    border-radius: 13.5px;
    background: var(--color10);
    top: 20px;
    display: inline-block;
    max-width: 124px;
    display: block;
    margin: auto;

    @include media.breakpoint(desktop) {
      position: absolute;
      right: 30px;
      top: 20px;
    }
  }

  .icon__check__wrap {
    background: rgba(255, 255, 255, .1);
  }

  .icon__check {

    color: var(--color6);
  }

  .card__currency, .card__price, .card__period,
  .card__title, .card__content, .advantages__item {
    color: var(--color6);
  }

}


.switch-plan {
  display: flex;
  align-items: center;
  position: relative;

  .checkbox {
    display: block;
    padding: 4px;
    background: var(--color2);
    box-shadow: 0px 6px 12px rgba(82, 67, 194, 0.16);
    border-radius: 22px;
    left: 0;
    position: absolute;
    height: 100%;
    width: 50%;
  }

}

input {
  display: none;

  &:checked {
    &+label {
      .checkbox {
        left: 50%;
      }
      .label-month {
        color: var(--color11);
      }

      .label-year {
        color: var(--color6);
      }
    }
  }
}

.switch-plan {
  .checkbox {
    transition: left 150ms ease-in-out;
  }
}

.label {
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  z-index: 1;
  padding: 13px 24px;
}

.label-year {
  transition: color 150ms ease-in-out;
  color: var(--color11);
}

.label-month {
  transition: color 150ms ease-in-out;
  color: var(--color6);
}

.switch-plan__wrap {
  height: 44px;
  border-radius: 22px;
  align-items: center;
  justify-content: center;
  background: var(--color6);
  display: flex;
  margin: auto;
  width: max-content;
  margin-bottom: 32px;

  @include media.breakpoint(tablet) {
    max-width: 222px;
  }

  .switch-plan {
    display: flex;

  }
}

.cards__list__yearly {
  display: none;
}

.section__plans:has(input:checked) {
  .cards__list__monthly {
    display: none;
  }

  .cards__list__yearly {
   display: flex;
  }

}


