:root {
  --color1: #231D4F;
  --color2: #BB6BD9;
  --color3: #F5F5FA;
  --color4: #F2DAD5;
  --color5: #848199;
  --color6: #FFFFFF;
  --color7: #A847CC;
  --bg: linear-gradient(180deg, #F5F5FA 0%, #F2DAD5 44.15%, #A1ABD6 100%);
  --color8: rgba(251, 251, 251, 65%);
  --color9: #7B72C1;
  --color10: #403879;
  --color11: #3B3472;
}
