@use "functions" as media;

.header {
  padding: 32px 0;

  .header__btn {
    padding: 10px 30px;
    display: none;

    @include media.breakpoint(desktop) {
      display: block;
      max-width: max-content;
    }
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-menu {
  width: 37px;
  height: 30px;


}

.burger-menu__icon {
  width: 100%;
  height: 100%;
  color: var(--color1);
}