@use "functions" as media;

.main {
  min-height: 100%;
  display: flex;
  background: var(--color7);
}

.layout {
  padding: 0 16px;
  margin: auto;
  display: block;

  @include media.breakpoint(tablet) {
    padding: 0 62px;
  }

}

.main__content {
  .layout {
    @include media.breakpoint(desktop) {
      max-width: 1061px;
      margin: auto;
      padding: 0;
    }
  }
}
